/* Enable this to see the invoice structure */
table, tr, td, div, p, h1, h2, h3, h4, h5, h6 {
	border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

table, div {
	font-family: dejavusanscondensed, Arial, sans-serif;
}

table th,
table td {
	padding: 5px;
}

table {
	border-spacing: 0;
	width: 100%;
	line-height: normal;
	color: #555;
	font-size: 12px;
	margin-left: 80px; /* Invoice margin */
	margin-right: 80px; /* Invoice margin */
}

/*** Start Header Classes ***/
table.top td {
	padding-top: 60px;
	vertical-align: middle;
}

table.top td:nth-child(2) {
	text-align: right;
}

td.details {
	width: 30%;
	text-align: right;
	font-size: 12px;
}

td.info {
	width: 25%;
	text-align: left;
	font-size: 12px;
}

/*** Start Body Classes ***/
div.title {
	margin-left: 80px; /* Invoice margin */
	margin-right: 80px; /* Invoice margin */
	line-height: 55px;
	padding: 5px;
}

table tr.information td {
	vertical-align: top;
	padding-bottom: 20px;
}

table tr.information td.primary {
	width: 50%;
}

table tr.information td.bill-to {
	width: 25%;
}

table tr.information td.ship-to {
	width: 25%;
	text-align: right;
}

table tr.heading th,
table tr.item td {
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

table tr.heading th:nth-child(1) {
	width: 20%;
}

table tr.heading th:nth-child(2) {
	text-align: left;
	width: 65%;
}

table tr.heading th:nth-child(3),
table tr.item td:nth-child(3) {
	text-align: center;
	width: 15%;
}

table tr.item td {
	border-bottom: 1px solid #eee;
}

table tr.spacer td {
	padding-top: 20px;
}

small.shipped_via {
	display: none;
}

table.notes {
	margin-top: 40px;
}

/*** Start Footer Classes ***/
table.footer {
	padding-top: 20px;
	padding-bottom: 20px; /* Invoice margin */
	width: 100%;
}

table.footer tr td {
	vertical-align: bottom;
	text-align: right;
}
