/* Enable this to see the invoice structure */
table, tr, td, div, p {
	/*border: 1px solid black;*/
}

table {
	font-family: Arial, sans-serif;
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
	color: #525252;
}

.a4-iso {
	margin-left: 65px; /* Invoice margin */
	margin-right: 65px; /* Invoice margin */
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

/* Font Size for the Text Box Price, Invoice Title and Company Name */
h1 {
	font-size: 32px;
}

table th,
table td {
	padding: 5px;
}

/*** Start Header Classes ***/
table tr td.logo {
	width: 50%;
	padding-top: 65px; /* Invoice margin */
	padding-left: 65px; /* Invoice margin */
}

table tr td.info {
	width: 50%;
	vertical-align: bottom;
	font-size: 12px;
	padding-top: 65px; /* Invoice margin */
	padding-right: 65px; /* Invoice margin */
}

/*** Start Body Classes ***/
table.customer-addresses {
	margin-bottom: 30px;
}

table tr td.invoice-to {
	width: 50%;
	vertical-align: top;
}

table tr td.ship-to {
	width: 50%;
	vertical-align: top;
}

table.information {
	margin-right: 0;
	margin-bottom: 25px;
	width: 100%;
}

table tr td.invoice-details {
	color: #525252;
	width: 45.5%;
	vertical-align: top;
}

table tr td.total-amount {
	padding: 25px;
	text-align: justify;
	color: white;
}

table.line-items {
	margin-top: 25px;
	padding: 5px;
	margin-left: 65px; /* Invoice margin */
	margin-right: 65px; /* Invoice margin */
}

table.line-items tr.heading th {
	text-align: right;
	border-bottom: 2px solid #525252;
}

/* First Header */
table.line-items tr.heading th:nth-child(1) {
	text-align: left;
	width: 50%;
}

/* The invoice item, quantity, price, VAT, total */
table tbody tr.item td {
	text-align: right;
	border-bottom: 1px solid #525252;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Whitespace between line items and line calculations */
table tr.spacer td {
	padding-top: 50px;
}

/* Order Total */
table tr.total td.order-total-ex-vat,
table tr.total td.order-total-incl-vat,
table tr.total td.order-total {
	border-top: 4px solid #525252;
	font-weight: bold;
}

table tr.total td.border {
	border-top: 1px solid #eee;
}

/* The invoice item description */
table tbody tr.item td:nth-child(1) {
	text-align: left;
}

tr.total td.custom-text {
	vertical-align: top;
}

/* Whitespace left side of line items */
tr.total td:nth-child(1) {
	width: 50%;
}

/* Line items left side */
tr.total td:nth-child(2) {
	width: 25%;
}

/* Line items right side */
tr.total td:nth-child(3) {
	width: 25%;
	text-align: right;
}

/* Div controlling customer notes and other information */
.notes {
	margin-top: 40px;
	margin-left: 60px;
	margin-right: 60px;
}

/*** Start Footer Classes ***/
div.foot-border {
	margin-top: 30px;
}

table.foot {
	margin: 10px 65px 20px; /* Invoice margin */
}

table.foot td {
	border: 1px solid white;
	font-size: 12px;
	vertical-align: top;
}

table.foot tr td.left {
	text-align: left;
	width: 44%;
}

table.foot tr td.mid {
	width: 12%;
	text-align: center;
}

table.foot tr td.right {
	text-align: right;
	width: 44%;
}
