/*** Start Helper Classes ***/

/* Enable this to see the invoice structure */
table, tr, td, div, p {
	/*border: 1px solid black;*/
}

table {
	font-family: Arial, sans-serif;
	border-collapse: collapse;
	font-size: 14px;
	width: 100%;
	color: #757575;
}

/* Font Size for the Text Box Price, Invoice Title and Company Name */
h1 {
	font-size: 32px;
}

/*** Start Header Classes ***/
.logo {
	width: 50%;
	padding-top: 60px;
	padding-left: 60px;
}

h1.company-name {
	color: #525252;
}

.info {
	width: 50%;
	padding-top: 60px;
}

.refunded {
	color: #a00 !important;
}

.total-without-refund {
	color: #757575 !important;
}

/*** Start Body Classes ***/
.invoice-to {
	width: 50%;
	vertical-align: top;
	padding-left: 60px;
	padding-bottom: 30px;
}

.ship-to {
	width: 50%;
	vertical-align: top;
	padding-bottom: 30px;
}

.invoice-details {
	padding-left: 60px;
	color: #525252;
}

td.invoice-details {
	width: 50%;
	vertical-align: top;
}

.total-amount {
	width: 50%;
	padding: 20px 20px 30px 20px;
	text-align: justify;
}

.total-amount, .total-amount h1 {
	color: white;
}

table.products th {
	border-bottom: 2px solid #A5A5A5;
}

.product-lines {
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}

/* First Header */
table tr.heading th:nth-child(1) {
	text-align: left;
	width: 30%;
}

/* Every header */
table tr.heading th {
	text-align: right;
}

/* The invoice item, quantity, price, VAT, total */
table tbody tr.item td {
	text-align: right;
	border-bottom: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Whitespace between line items and line calculations */
table tr.spacer td {
	padding-top: 50px;
}

/* CSS for Order Total excluding VAT */
.order-total-ex-vat {
	padding-top: 5px;
	border-top: 4px solid #CECECE;
}

/* CSS for Order Total including VAT */
.order-total-incl-vat {
	padding-top: 5px;
	border-top: 4px solid #CECECE;
}

/* The invoice item description */
table tbody tr.item td:nth-child(1) {
	text-align: left;
}

.line-spacing {
	padding-bottom: 10px;
}

/* Whitespace left side of line items */
tr.total td:nth-child(1) {
	width: 50%;
}

/* Line items left side */
tr.total td:nth-child(2) {
	width: 25%;
}

/* Line items right side */
tr.total td:nth-child(3) {
	width: 25%;
	text-align: right;
}

/* CSS for the Div controlling customer notes and other information */
.extra-info {
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
}

#terms-notes {
	margin-top: 10px;
}

/*** Start Footer Classes ***/
.foot {
	margin-bottom: 30px;
}

.foot td {
	border: 1px solid white;
	font-size: 12px;
}

.foot td.border {
	padding: 20px 40px;
	width: 100%;
	text-align: center;
}

td.left-footer-column {
	padding: 20px 40px 0;
	text-align: left;
	vertical-align: top;
	width: 45%;
}

td.middle-footer-column {
	margin: 0 auto;
	width: 10%;
}

td.right-footer-column {
	padding: 20px 40px 0;
	text-align: right;
	vertical-align: top;
	width: 45%;
}

