.be_woocommerce_pdf_invoices_settings_form select,
.be_woocommerce_pdf_invoices_settings_form input[type="text"],
.be_woocommerce_pdf_invoices_settings_form textarea {
    width: 348px;
}
.be_woocommerce_pdf_invoices_settings_form input[type="number"],
#bewpi-color-theme {
    width: 70px;
}
#bewpi-company-logo-wrapper {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    padding: 21px 21px 0 0;
}
#bewpi-company-logo-image {
    position: relative;
    max-height: 150px;
}
#bewpi-company-logo-wrapper:hover #bewpi-company-logo-delete{
    display: block;
}
#bewpi-company-logo-delete{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.wpi-admin-order-create-invoice-btn {
    background-image: url(../img/invoice.png) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    text-indent: -9999px;
    position: relative;
    padding: 0 !important;
    height: 2em !important;
    width: 2em;
}
.wpi-admin-order-create-invoice-btn button {
    display: none;
}
.notes {
    display: inline;
    font-style: italic;
}
.block {
    display: block;
}
#color-picker {
    height: 28px;
}
.foot {
    font-size: 12px;
}
.invoice-info {
    margin-bottom: 10px;
}
.invoice-btn {
    margin-right: 3px !important;
}
#footer-left #footer-thankyou {
    font-style: normal !important;
}
.bewpi-visible-columns-option-title,
.bewpi-reset-counter-option-title,
.bewpi-reset-counter-yearly-option-title,
.bewpi-customer-notes-option-title,
.bewpi-new-order-option-title,
.bewpi-email-it-in-option-title {
    /*display: inline-block;*/
}
.bewpi-visible-columns-option-title,
.bewpi-customer-notes-option-title {
    /*font-weight: bold;*/
}
.bewpi-notes {
    font-size: 13px;
    font-style: italic;
    margin-top: 3px;
}