/* Start Helper Classes */
/* Enable this to see packing slip structure */
table, tr, td, div, p {
	/*border: 1px solid black;*/
}

h1 {
	font-size: 36px;
}

table {
	font-family: dejavusanscondensed, Arial, sans-serif;
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
	color: #757575;
	margin: 0;
	padding: 0;
}

span.payment-status {
	font-size: 14px;
	font-weight: normal;
}

/* Start Header Classes */
div.header {
	padding: 60px 60px 0px 60px
}

table.company tr td {
	vertical-align: middle;
	width: 50%;
}

/* Company logo and address */
table td.logo {
	width: 50%;
}

/* Customer addresses */
table td.address {
	width: 50%;
}

/* Start Body Classes */
div.body {
	padding: 0px 60px;
}

table.customer-address tr td {
	vertical-align: top;
	padding-bottom: 60px;
}

table td.bill-to {
	width: 50%;
}

table td.ship-to {
	width: 50%;
}

/* Invoice title and details */
table.invoice-details {
	margin-top: 15px;
	margin-bottom: 15px;
}

table.invoice-details td.title {
	color: #525252;
}

table.products th {
	border-bottom: 2px solid #A5A5A5;
}

table.products tr.heading th {
	text-align: left;
}

table.products tr.heading th:nth-child(3) {
	text-align: center;
}

table.products tr.item td {
	border-bottom: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 10px;
}

table.products tr.item td:nth-child(3) {
	text-align: center;
}

/* Customer notes */
table.customer-notes {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Start Footer Classes */
.footer {
	padding-bottom: 30px;
	border-top: 2px solid #A5A5A5;
}

.foot td.border {
	padding: 20px 40px;
	width: 100%;
	text-align: center;
}

td.left-footer-column {
	padding: 20px 40px 0;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

td.middle-footer-column {
	margin: 0 auto;
	width: 5%;
}

td.right-footer-column {
	padding: 20px 50px 0;
	text-align: right;
	vertical-align: top;
	width: 50%;
}

.foot td {
	border: 1px solid white;
	font-size: 12px;
}